[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/rzntu/rzntu.github.io.git
	branch = master
[submodule "public\\"]
	path = public\\
	url = https://github.com/rzntu/rzntu.github.io.git
	branch = master
[submodule "publice"]
	path = publice
	url = https://github.com/rzntu/rzntu.github.io.git
	branch = master
[submodule "rzntu.github.io"]
	path = rzntu.github.io
	url = https://github.com/rzntu/rzntu.github.io.git
	branch = master
